<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <th:block th:replace="partials/globalCss :: globalCss"></th:block>
    <title>Урок | [[${studentLesson.lesson.name}]]</title>
    <link rel="stylesheet" th:href="@{/static/summernote-0.8.18-dist/summernote-bs4.min.css}" />
  </head>
  <body>
    <th:block th:replace="partials/header :: header"></th:block>

    <main>
      <div class="container">
        <div class="alert alert-success" role="alert" th:if="${success}" th:text="${success}"></div>
        <div class="alert alert-danger" role="alert" th:if="${error}" th:text="${error}"></div>
        <h1>[[${studentLesson.lesson.name}]]</h1>
        <p><strong>Задание к уроку:</strong> [(${studentLesson.lesson.description})]</p>
        <p><strong>Текущая оценка:</strong> [[${studentLesson.grade?: '-'}]]</p>
        <form th:object="${addAnswerDto}" method="post" id="addAnswerForm">
          <div class="form-group">
            <label for="answer">Ответ на задание</label>
            <textarea class="form-control" th:field="*{answer}" required hidden></textarea>
            <div
              class="text-danger"
              th:if="${#fields.hasErrors('answer')}"
              th:errors="*{answer}"
            ></div>
          </div>
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
          <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
      </div>
    </main>
    <th:block th:replace="partials/footer :: footer"></th:block>
    <th:block th:replace="partials/globalScripts :: globalScripts"></th:block>
    <script th:src="@{/static/summernote-0.8.18-dist/summernote-bs4.min.js}"></script>
    <script th:src="@{/static/summernote-0.8.18-dist/summernote-ru-RU.min.js}"></script>
    <script th:src="@{/static/js/student/lesson.js}"></script>
  </body>
</html>
