<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <th:block th:replace="partials/globalCss :: globalCss"></th:block>
    <title>Обзор</title>
  </head>
  <body>
    <th:block th:replace="partials/header :: header"></th:block>
    <main>
      <div class="container">
        <h1>Обзор</h1>
        <ul class="row mt-4 list-unstyled">
          <li class="col-12 col-md-6 col-xl-4 mb-4">
            <div class="card border-0 shadow-sm">
              <div class="card-body">
                <h3 class="card-title">[[${studentOverviewDto.coursesCount}]]</h3>
                <p class="card-text">Всего курсов</p>
              </div>
            </div>
          </li>
          <li class="col-12 col-md-6 col-xl-4 mb-4">
            <div class="card border-0 shadow-sm">
              <div class="card-body">
                <h3 class="card-title">[[${studentOverviewDto.completedCoursesCount}]]</h3>
                <p class="card-text">Завершенных курсов</p>
              </div>
            </div>
          </li>
          <li class="col-12 col-md-6 col-xl-4 mb-4">
            <div class="card border-0 shadow-sm">
              <div class="card-body">
                <h3 class="card-title">[[${studentOverviewDto.inProgressCoursesCount}]]</h3>
                <p class="card-text">Выполняемых курсов</p>
              </div>
            </div>
          </li>
          <li class="col-12 col-md-6 col-xl-4 mb-4">
            <div class="card border-0 shadow-sm">
              <div class="card-body">
                <h3 class="card-title">[[${studentOverviewDto.completedCoursesCount / studentOverviewDto.coursesCount * 100}]]%</h3>
                <p class="card-text">Общая завершенность курсов</p>
              </div>
            </div>
          </li>
          <li class="col-12 col-md-6 col-xl-4 mb-4">
            <div class="card border-0 shadow-sm">
              <div class="card-body">
                <h3 class="card-title">[[${studentOverviewDto.lessonsCount}]]</h3>
                <p class="card-text">Всего уроков</p>
              </div>
            </div>
          </li>
          <li class="col-12 col-md-6 col-xl-4 mb-4">
            <div class="card border-0 shadow-sm">
              <div class="card-body">
                <h3 class="card-title">[[${studentOverviewDto.completedLessonsCount}]]</h3>
                <p class="card-text">Выполненных уроков</p>
              </div>
            </div>
          </li>
          <li class="col-12 col-md-6 col-xl-4 mb-4">
            <div class="card border-0 shadow-sm">
              <div class="card-body">
                <h3 class="card-title">[[${studentOverviewDto.idlingLessonsCount}]]</h3>
                <p class="card-text">Уроков на проверке</p>
              </div>
            </div>
          </li>
          <li class="col-12 col-md-6 col-xl-4 mb-4">
            <div class="card border-0 shadow-sm">
              <div class="card-body">
                <h3 class="card-title">[[${studentOverviewDto.averageGrade}]]</h3>
                <p class="card-text">Средний балл</p>
              </div>
            </div>
          </li>
        </ul>
        <!-- <ul class="row mt-4 list-unstyled">
          <li class="col-12 col-md-6 col-xl-4 mb-4">
              <div class="card border-0 shadow-sm">
                <div class="card-body">
                  <div class="card-title d-flex justify-content-between">
                    <div>Общая завершенность курсов</div>
                    <h6>
                      [[${studentOverviewDto.completedCoursesCount / studentOverviewDto.coursesCount * 100}]]%
                    </h6>
                  </div>
                  <div class="progress">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      th:style="|width: ${studentOverviewDto.completedCoursesCount / studentOverviewDto.coursesCount * 100}%|"
                      th:aria-valuenow="${studentOverviewDto.completedCoursesCount / studentOverviewDto.coursesCount * 100}"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
              </div>
          </li>
          <li class="col-12 col-md-6 col-xl-4 mb-4">
            <div class="card border-0 shadow-sm">
              <div class="card-body">
                <div class="card-title d-flex justify-content-between">
                  <div>Средний балл</div>
                  <h6>[[${studentOverviewDto.averageGrade}]]</h6>
                </div>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    th:style="|width: ${studentOverviewDto.averageGrade / 5 * 100}%|"
                    th:aria-valuenow="${studentOverviewDto.averageGrade / 5 * 100}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </li>
        </ul> -->
      </div>
    </main>
    <th:block th:replace="partials/footer :: footer"></th:block>
    <th:block th:replace="partials/globalScripts :: globalScripts"></th:block>
  </body>
</html>
