.searchBlock-wrapper {
    padding: 20px;
    background-color: #fff;
    margin-top: 10px;
}

.searchBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid #555555; */
}
    
.searchBlock-textbox
{
    margin-left: 5px;
    padding: 5px 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #bbbbbb;
    font-size: 16px;
}

.searchBlock-button
{
    margin-left: 10px;
    padding: 5px 15px;
    border: none;
    background-color: #1155FF;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

.searchBlock-button:hover {
    background-color: #0033ff;
}

.searchBlock-button:active {
    background-color: #0022cc;
}
