@import '../../commonStyles/vars';

.instructorCourseLink {
  color: $mainFontColor;
  width: 400px;
  background-color: #ffffff;
  border-radius: $cornerRadius;
  font-size: $mainFontSize;
  line-height: 50px;
  padding: $mainPadding;
  display: block;
  &:not(:first-child) {
    margin-top: 10px;
  }
}
