.main {
    width: '100%';
    background-color: #cccccc;
    font-size: 26px;
    color: #ffffff;
    position: sticky;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
