@import '../../commonStyles/vars';

.appWrapper {
  width: 100vw;
  height: 100vh;
  padding: 20px;
}

.authFormsWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.navbarAndContentWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}

.contentWrapper {
  margin-left: 20px;
}
