<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <th:block th:replace="partials/globalCss :: globalCss"></th:block>
    <title>Управление курсами</title>
  </head>
  <body>
    <th:block th:replace="partials/header :: header"></th:block>

    <main>
      <div class="container">
        <h1>Управление курсами</h1>
        <ul class="row mt-4 list-unstyled">
          <li class="col-12 col-md-6 col-xl-4 mb-4" th:each="teacherCourse : ${teacherCourses}">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" th:text="${teacherCourse.name}"></h5>
                <a class="btn btn-primary" th:href="@{/courses/teacher/{id}(id=${teacherCourse.id})}"
                  >Перейти</a
                >
                <a
                  class="btn btn-primary"
                  th:href="@{/courses/teacher/{id}/grade(id=${teacherCourse.id})}"
                  >Проверка работ</a
                >
              </div>
            </div>
          </li>
        </ul>
        <th:block th:replace="partials/paginator :: paginator"></th:block>
      </div>
    </main>
    <th:block th:replace="partials/footer :: footer"></th:block>
    <th:block th:replace="partials/globalScripts :: globalScripts"></th:block>
  </body>
</html>
