<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <th:block th:replace="partials/globalCss :: globalCss"></th:block>
    <title>Проверка заданий</title>
  </head>
  <body>
    <th:block th:replace="partials/header :: header"></th:block>

    <main>
      <div class="container">
        <h1>Проверка заданий</h1>
        <form method="post">
          <div class="input-group mb-3">
            <input
              class="form-control"
              name="queryFilter"
              th:value="${query}"
              placeholder="Название урока"
            />
            <div class="input-group-append">
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
              <button type="submit" class="btn btn-primary">Найти</button>
            </div>
          </div>
        </form>
        <p th:if="${teacherLessonsToGrade.isEmpty()}">Не найдено ни одного задания</p>
        <ul class="row mt-4 list-unstyled" th:if="${!teacherLessonsToGrade.isEmpty()}">
          <li
            class="col-12 col-md-6 col-xl-4 mb-4"
            th:each="teacherLessonToGrade : ${teacherLessonsToGrade}"
          >
            <div class="card border-0 shadow">
              <div class="card-body">
                <h5 class="card-title">[[${teacherLessonToGrade.lesson.name}]]</h5>
                <p class="card-text text-truncate">
                  Выполнил: [[${teacherLessonToGrade.studentCourse.user.lastName}]]
                  [[${teacherLessonToGrade.studentCourse.user.firstName}]]
                </p>
                <a th:href="@{|/teacher/lessons-to-grade/${teacherLessonToGrade.id}|}">Перейти</a>
              </div>
            </div>
          </li>
        </ul>
        <th:block th:replace="partials/paginator :: paginator"></th:block>
      </div>
    </main>
    <th:block th:replace="partials/footer :: footer"></th:block>
    <th:block th:replace="partials/globalScripts :: globalScripts"></th:block>
  </body>
</html>
