<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <th:block th:replace="partials/globalCss :: globalCss"></th:block>
    <title>[[${course.name}]]</title>
  </head>
  <body>
    <th:block th:replace="partials/header :: header"></th:block>
    <main>
      <div class="container">
        <h1>[[${course.name}]]</h1>
        <img th:src="@{/coursesImages/default.png}" th:alt="${course.name}">
        <p>[[${course.description}]]</p>
        <p><strong>Стоимость:</strong> [[${course.price}]] рублей</p>
        <p><strong>Артикул:</strong> [[${course.vendorCode}]]</p>
    </main>
    <th:block th:replace="partials/footer :: footer"></th:block>
    <th:block th:replace="partials/globalScripts :: globalScripts"></th:block>
  </body>
</html>