<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <th:block th:replace="partials/globalCss :: globalCss"></th:block>
    <title>Главная</title>
  </head>
  <body>
    <th:block th:replace="partials/header :: header"></th:block>
    <main>
      <div class="container">
        <h1>Добро пожаловать</h1>
        <p>Здесь вы можете выбрать курс и продолжить дальнейшее обучение вместе с нами</p>
        <!-- <form method="post" th:action="@{/find-course}">
          <div class="input-group">
            <input class="form-control" placeholder="Название курса" />
            <div class="input-group-append">
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
              <button type="submit" class="btn btn-primary">Найти</button>
            </div>
          </div>
        </form> -->
        <ul class="row mt-4 list-unstyled" th:if="${!courses.isEmpty()}">
          <li class="col-12 col-md-6 col-xl-4 mb-4" th:each="course : ${courses}">
            <div class="card border-0 shadow">
              <img
                class="card-img-top"
                th:src="@{|/uploads/images/course/${course.imageUrl?: 'default.jpg'}|}"
                th:alt="${course.name}"
                height="154"
              />
              <div class="card-body">
                <h5 class="card-title">[[${course.name}]]</h5>
                <p class="card-text text-truncate">Стоимость: [[${course.price}]] рублей</p>
                <a th:href="@{|/courses/${course.id}|}">Подробнее</a>
              </div>
            </div>
          </li>
        </ul>
        <th:block th:replace="partials/paginator :: paginator"></th:block>
      </div>
    </main>
    <th:block th:replace="partials/footer :: footer"></th:block>
    <th:block th:replace="partials/globalScripts :: globalScripts"></th:block>
  </body>
</html>
