@import '../../commonStyles/vars';

.lessonContainer {
  margin-top: 20px;
}

.lessonHeading {
  font-size: 2.4rem;
  &:not(:first-child) {
    margin-top: 40px;
  }
}

.lessonContent {
  font-size: $mainFontSize;
  &:not(:first-child) {
    margin-top: 20px;
  }
}
