body {
    background-color: #346;
}

@keyframes block-appearance {
    from {
        opacity: 0.05;
        padding: 40px 40px 30px 40px;
    }

    to {
        opacity: 1;
        padding: 50px 50px 40px 50px;
    }
}

.user-identification {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-identification .hyperlink {
    text-decoration: none;
    color: #444444;
    text-align: center;
    padding: 10px;
}

.user-identification .hyperlink:hover {
    color: #000000;
}

.user-identification .hyperlink:active {
    color: #f00;
}

.hr {
    border: 0.5px solid #cccccc;
}

.user-identification .user-identification-wrapper {
    padding: 50px 50px 40px 50px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    animation: block-appearance 1s;
}

.user-identification .user-identification-wrapper label {
    font-size: 4vh;
    text-align: center;
    margin-bottom: 4vh;
    color: #444444;
    font-weight: 500;
    border-bottom: 1px solid #dddddd;
}

.user-identification .user-identification-wrapper input[type='email'],
.user-identification .user-identification-wrapper input[type='password'],
.user-identification .user-identification-wrapper input[type='text'] {
    margin-bottom: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #bbbbbb;
    font-size: 16px;
}

.user-identification .user-identification-wrapper input[type='submit'],
.user-identification .user-identification-wrapper button {
    padding: 10px;
    margin: 40px 0 20px 0;
    border: none;
    background-color: #1155ff;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

.user-identification .user-identification-wrapper input[type='submit']:hover,
.user-identification .user-identification-wrapper button:hover {
    background-color: #0033ff;
}

.user-identification .user-identification-wrapper input[type='submit']:active,
.user-identification .user-identification-wrapper button:active {
    background-color: #0022cc;
}
